:root {
    --gridRows: 1;
} 

#gridContainer {
    display: grid;
    grid-template-columns: repeat(var(--gridRows), min-content); 
   /* grid-template-rows: repeat(var(--gridRows), auto); */
    padding: 40px auto;
}

.gridSquare {
    padding: 10px;
    border: 1px solid rgb(80, 159, 68);
    text-align: center;
    width: 16px;
    height: 16px;
    margin: 0px;
}