:root {
    --gridRows: 1;
} 

#gridContainer {
    display: grid;
    grid-template-columns: repeat(var(--gridRows), auto); 
    padding: 40px auto; 
    height: 700px;
    width: 700px; 
}

.gridSquare {
    padding: 0px;
    border: 1px solid rgb(80, 159, 68);
    text-align: center;
    margin: 0px;
}

#nGbtn {
    font-size: larger;
}